<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331308178402-4eckq378mduijjpste4l308v520j8v7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331308178402-4eckq378mduijjpste4l308v520j8v7j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331308178402-cakce5747rsr5h9gglir16484h23qqlg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2TVX2ik-uqoCTyL50grg-HDcVslDH8Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>331308178402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mangaApp</string>
	<key>PROJECT_ID</key>
	<string>manga-bec41</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-bec41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331308178402:ios:0e1d156480f47c1db737bb</string>
</dict>
</plist>